<div id="bitcoin"></div>
<div id="ethereum"></div>

<%= link_to 'Bitcoin', bit_path ,class: "btn btn-primary", id: "ethbtn", remote: true %>
<%= link_to 'ETH vs BTC', root_path, class: "btn btn-default", id: "ethbt", remote: true  %>
<%= link_to 'Ethereum', eth_path, class: "btn btn-info", id: "ethb", remote: true  %>

<br>
<div id="chart-container" style="height: 500px; min-width: 500px"></div>
<script type="text/javascript">
 Highcharts.chart('bitcoin', {

title: {
    text: 'BTC vs ETH Chart'
},

subtitle: {
    text: 'Source: Charts for last 7 days'
},

yAxis: {
    title: {
        text: 'Price USD',
    },
    min: -1000,
    max: 4000
},
xAxis: {
    title: {
        text: 'Time'
    },
    type: 'datetime',
},
legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
},
series : [{    
        name : 'BTC - USD',
        data: <%= @data %> ,
  //      pointStart: Date.UTC(byear, bmnth-1, bdate),
        pointStart: Date.UTC(2012, 2, 6),
		pointInterval: 1000 * 60 * 60 * 24
	},{
		name : 'ETH - USD',
        lineColor: '#FF0000',
        lineWidth: 1,
        data: <%= @eth_array %> ,
        pointStart: Date.UTC(2012, 2, 6),
        pointInterval: 1000 * 60 * 60 * 24
    }]
});
</script>