<!DOCTYPE html>
<html>
  <head>
    <title>Btcvseth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://code.highcharts.com/highcharts.js" %>
  	<%= javascript_include_tag "https://code.highcharts.com/modules/exporting.js" %>
    <%= include_gon(:init => true) %>

  </head>

  <body>
  	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">BTC vs ETH </a>
	    </div>
      </div>
    </nav>

      <%= yield %>

    <footer class="container-fluid text-center">
      <p>Footer </p>
    </footer>
  </body>
</html>